//プロフィール編集 view
//上部
= render 'items/header'
.mypage-header
  .mypage-header__list
    =render 'shared/breadcrumbs'

//右側ユーザー名
.mypage-main
  .mypage-main__profile
    .mypage-main__profile__head
      プロフィール
    .mypage-main__profile__name  
      .mypage-main__profile__name__icon
      %textarea{class:"mypage-main__profile__name__nickname",placeholder:"例)AYA☆セール中"}
    .mypage-main__profile__input
      %textarea{class:"mypage-main__profile__input__text",placeholder:"例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
      = link_to "#" do
        %button.mypage-main__profile__input__btn
          変更する

  //左側のリスト
  .mypage-main__left
    %nav.mypage-main__left__nav
      %ul.mypage-main__left__nav__list
        = link_to user_path(current_user) do
          %li.mypage-main__left__nav__list__item
            マイページ
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            お知らせ
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            やることリスト
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            いいね！一覧
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            出品する
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            出品した商品-出品中
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            出品した商品-取引中
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            出品した商品-売却済み
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            購入した商品-取引中
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            購入した商品-過去の取引
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            ニュース一覧
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            評価一覧
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            ガイド
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            お問い合わせ
            .mypage-main__left__nav__list__item__icon
      .mypage-main__left__nav__head
        メルペイ
      %ul.mypage-main__left__nav__list
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            残高・振込申請
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            ポイント
            .mypage-main__left__nav__list__item__icon
      .mypage-main__left__nav__head
        設定
      %ul.mypage-main__left__nav__list
        = link_to edit_user_path(current_user) do
          %li.mypage-main__left__nav__list__item
            プロフィール
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            発送元・お届け先住所変更
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            支払い変更
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            メール/パスワード
            .mypage-main__left__nav__list__item__icon
        = link_to check_users_path(current_user) do
          %li.mypage-main__left__nav__list__item
            本人情報
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            電話番号の確認
            .mypage-main__left__nav__list__item__icon
        = link_to logout_users_path(current_user) do
          %li.mypage-main__left__nav__list__item
            ログアウト
            .mypage-main__left__nav__list__item__icon
= render 'items/footer'