//ログアウト view
=render "items/header"
//上部
.mypage-header
  %ul.mypage-header__list
    = link_to "#" do
      %li.mypage-header__itemscope
        メルカリ
    %li.mypage-header__icon-arrow-right
      >
    = link_to "#" do
      %li.mypage-header__itemscope
        マイページ
    %li.mypage-header__icon-arrow-right
      >
    %li.mypage-header__itemscope
      ログアウト

//右側ユーザー名
.mypage-logout
  .mypage-logout__right
    .mypage-logout__right__btn
      = link_to destroy_user_session_path, method: :delete do
        .mypage-logout__right__btn__out
          ログアウト

  //左側のリスト
  .mypage-main__left
    %nav.mypage-main__left__nav
      %ul.mypage-main__left__nav__list
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            マイページ
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            お知らせ
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            やることリスト
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            いいね！一覧
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            出品する
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            出品した商品-出品中
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            出品した商品-取引中
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            出品した商品-売却済み
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            購入した商品-取引中
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            購入した商品-過去の取引
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            ニュース一覧
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            評価一覧
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            ガイド
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            お問い合わせ
            .mypage-main__left__nav__list__item__icon
      .mypage-main__left__nav__head
        メルペイ
      %ul.mypage-main__left__nav__list
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            残高・振込申請
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            ポイント
            .mypage-main__left__nav__list__item__icon
      .mypage-main__left__nav__head
        設定
      %ul.mypage-main__left__nav__list
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            プロフィール
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            発送元・お届け先住所変更
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            支払い変更
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            メール/パスワード
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            本人情報
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            電話番号の確認
            .mypage-main__left__nav__list__item__icon
        = link_to "#" do
          %li.mypage-main__left__nav__list__item
            ログアウト
            .mypage-main__left__nav__list__item__icon
=render "items/footer"