-# 会員情報入力
.container
  =render "users/new-header"
  .user-new__main
    %h2.user-new__main__header
      新規会員登録
    .user-new__main__main
      .user-new__main__main__content
        = link_to detail_users_path, class: 'user-new__main__main__content__mail-address' do
          = fa_icon 'envelope', class: 'user-new__main__main__content__mail-address__icon'
          .user-new__main__main__content__mail-address__text
            メールアドレスで登録する
        = link_to user_facebook_omniauth_authorize_path, class: 'user-new__main__main__content__facebook' do
          = fa_icon 'facebook-square', class: 'user-new__main__main__content__facebook__icon'
          .user-new__main__main__content__facebook__text
            = 'Facebookで登録する'
        = link_to user_google_oauth2_omniauth_authorize_path, class: 'user-new__main__main__content__google' do
          = fa_icon 'google', class: 'user-new__main__main__content__google__icon'
          .user-new__main__main__content__google__text
            = 'Googleで登録する'
  =render "users/new-footer"
  