-# 商品購入確認画面
.container
  =render "users/new-header"
  .buy
    .buy__title
      購入内容の確認
    .buy__item
      .buy__item__content
        .buy__item__content__image
          = image_tag @item.item_images.first.image.to_s, class: "buy__item__content__image__photo"
        .buy__item__content__titel
          .buy__item__content__titel__name
            = @item.name
            .buy__item__content__titel__name__number
              = converting_to_jpy(@item.price)
            .buy__item__content__titel__name__postage
              （税込）送料込み
      .buy__item__point
        ポイントはありません
      .buy__item__total
        .buy__item__total__pay
          支払い金額
        .buy__item__total__price
          = converting_to_jpy(@item.price)
      .buy__item__red
        = form_tag(action: :pay, method: :post) do
          %button.buy__item__red 購入する
    .buy__delivery
      .buy__delivery__text
        配送先
      .buy__delivery__user
        .buy__delivery__user__postal-code
          〒 #{current_user.address.postal_code}
        .buy__delivery__user__address
          = @address_info
        .buy__delivery__user__name
          = @full_name
        .buy__delivery__user__edit
          = link_to "変更する","#"
    .buy__credit
      .buy__credit__text
        支払い方法
      .buy__credit__user
        - if @default_card_information.blank?
          %br /
        - else
          -#以下カード情報を表示
          **** **** **** #{@default_card_information.last4}
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
       
  =render "users/new-footer"