-# ヘッダー
= render "items/header"
-# 商品詳細画面
.item
  .item__page  
    .item__page__title
      .item__page__title__name
        = @item.name
    .item__page__data
      .item__page__data__photo-box
        .item__page__data__photo-box__photo
          = image_tag @images.first.image.to_s, class: "item__page__data__photo-box__photo__image"
        .item__page__data__photo-box__photos
          - @images.each do |image|
            = image_tag image.image.to_s, class: "item__page__data__photo-box__photos__main"
      %table.item__page__data__list
        %tr
          %th 出品者
          %td
            = link_to "#{@item.user.nickname}"
            .item__page__data__list__box
              .item__page__data__list__box__good
                = fa_icon "thumbs-up"
                29
              .item__page__data__list__box__normal
                = fa_icon "thumbs-up"
                29
              .item__page__data__list__box__bad
                = fa_icon "thumbs-up"
                29
        %tr
          %th カテゴリー
          %td
            - if @item.category.nil?
            - else
              = @item.category.name
        %tr
          %th ブランド
          %td
            - if @item.brand.nil?
            - else
              = @item.brand.name
        %tr
          %th 商品の状態
          %td
            = @item.state.text
        %tr
          %th 配送料の負担
          %td 
            = @item.postage_side.text
        %tr
          %th 配送の方法
          %td 
            = @item.send_method.text
        %tr
          %th 配送元地域
          %td
            = @item.prefecture.name
        %tr
          %th 発送日の目安
          %td 
            = @item.send_date.text

    .item__page__price
      .item__page__price__number
        = converting_to_jpy(@item.price)
      .item__page__price__tax
        (税込)
      .item__page__price__postage
        送料込み
    - if user_signed_in? && current_user.id == @item.user_id
      = link_to "商品の編集", edit_item_path, class: "item__page__buy"
      = link_to "商品の削除", item_path(@item.id), method: :delete, class: "item__page__delete"
    - elsif user_signed_in?
      = link_to "購入画面に進む", buy_item_path(@item.id), class: "item__page__buy"
    - else
      = link_to "購入にはログインが必要です", new_user_session_path, class: "item__page__delete"
    .item__page__text
      = @item.description
    .item__page__button
      .item__page__button__left
        %button.item__page__button__left__like{type: "button"}
          .item__page__button__left__like__heart
            = fa_icon "heart" 
            .item__page__button__left__like__good
              いいね! 29
        %button.item__page__button__left__report{type: "button"}
          .item__page__button__left__report__flag
            = fa_icon "flag"
            不適切な商品の報告
        = link_to "#", class: "item__page__button__right" do
          = fa_icon "lock"
          あんしん・あんぜんへの取り組み
      
  %form.item__comment 
    .item__comment__attention
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %textarea{type: "text",class: "item__comment__textarea"}
    %button{type: "submit" , class: "item__comment__button"}
      コメントする
  .item__next
    = link_to "プロテイン", "#", class: "item__next__left"
    = link_to "加圧シャツ", "#", class: "item__next__right"
  .item__media
    = link_to "https://www.facebook.com/", class: "item__media__facebook" do
      = fa_icon "facebook-square"
    = link_to "https://twitter.com/", class: "item__media__twitter" do
      = fa_icon "twitter-square"
    = link_to "https://www.pinterest.jp/", class: "item__media__pinterest" do
      = fa_icon "pinterest-square"
  .item__user
    = link_to "#{@item.user.nickname}さんのその他の商品", "#", style: "font-size:15pt;font-weight:bold;", class: "item__user__items"
  %ul.item__contents
    = render partial: "items/show_item"
  .item__bottom
    .item__bottom__item
      =render 'shared/breadcrumbs'

-# フッター
= render "items/footer"